@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-deep: #000000;
  --fg-primary: #FFFFFF;
  --fg-secondary: rgba(255, 255, 255, 0.6);
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

body {
  background: var(--bg-deep);
  color: var(--fg-primary);
  /* Premium Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

::selection {
  background: rgba(255, 255, 255, 0.99);
  color: black;
}

@layer utilities {
  @keyframes blob-bounce {
    0% {
      transform: translate(0, 0) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0, 0) scale(1);
    }
  }

  @keyframes drift {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(-50%, -50%);
    }
  }

  .animate-blob {
    animation: blob-bounce 20s infinite;
  }

  .animate-drift {
    animation: drift 120s linear infinite;
  }
}